@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin: 0px 70px !important;
}



/* .navbar_component{
    padding: .8rem 1rem !important;
    background: #638ca012 !important;
    box-shadow: 0px 2px 4px 0 darkgrey;
    display: flex;
    position: sticky;
    top: 0;
} */




img{
    width: 200px;
}


.logo_type {
    flex: none;
    width: auto;
    height: 100%;
}

.logo_component {
    flex-wrap: nowrap;
    width: auto;
    height: 3.25rem;
    display: flex;
}

.w-nav-brand {
    float: left;
    color: #333;
    text-decoration: none;
    position: relative;
}

.navbar_logo{
    padding-left: 0%;
}
.navbar_component {
    z-index: 999;
    border-bottom: 1px solid var(--untitled-ui-gray100);
    background-color: #eee;
    align-items: center;
    padding: 0.5rem 1rem !important;
    background: #2341;
    box-shadow: 0px 2px 4px 0 darkgrey;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: flex-start;
}


.button_reg {
        border-radius: 0.5rem;
        border: #2d85b8;
        background: #2d85a5;
        color: #fff;
        padding: 0.5rem 1rem;
        font-size: 1rem;
}

.login {
    color: rgb(32, 53, 57);
}

.login :hover{
    color:#2341;
}

.register {
    color:#2d85b8;
}

.register :hover{
    color:rgba(14, 44, 75, 0.067);
}

.nav-item {
    color: black !important;
}
.nav-item:hover {
    color:#2d85b8 !important;
    text-shadow: #333 !important;
}


